In [1]:
import pandas as pd
df = pd.read_csv("data/diemthi_2025.csv", header=0)

In [2]:
print(df[df["so_bao_danh"] == 21022536].to_json(orient="records", force_ascii=False, indent=2))

[
  {
    "so_bao_danh":21022536,
    "city_code":21,
    "ngay_sinh":"---",
    "ho_ten":null,
    "toan":5.75,
    "ngu_van":7.0,
    "vat_ly":7.75,
    "hoa_hoc":6.75,
    "sinh_hoc":-1.0,
    "ngoai_ngu":-1.0,
    "ma_ngoai_ngu":null,
    "lich_su":-1.0,
    "dia_ly":-1.0,
    "gdcd":-1.0,
    "gdkt_pl":-1.0,
    "tin_hoc":-1.0,
    "cn_cong_nghiep":-1.0,
    "cn_nong_nghiep":-1.0,
    "tong_diem":27.25
  }
]

In [4]:
df[df["city_code"] == 21][["so_bao_danh"]].sort_values(by="so_bao_danh").drop_duplicates()

        so_bao_danh
664654     21000001
664655     21000002
664656     21000003
664657     21000004
664658     21000005
...             ...
691134     21026604
691135     21026605
691136     21026606
691137     21026608
691138     21026609

[26485 rows x 1 columns]