In [32]:
import pandas as pd
df = pd.read_csv("data/diemthi_2025.csv", header=0)

In [30]:
print(df[df["so_bao_danh"] == 21022536].to_json(orient="records", force_ascii=False, indent=2))

[

]

In [31]:
df[df["TinhId"] == 21][["so_bao_danh"]].sort_values(by="so_bao_danh").drop_duplicates()

      so_bao_danh
3659     21000002
221      21000003
4148     21000005
724      21000006
6917     21000007
...           ...
3658     21026816
6444     21026826
1        21026837
1854     21026840
16       21026850

[10000 rows x 1 columns]